@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
}
@font-face {
  font-family: "Barlow";
  font-weight: 400;
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
}
@font-face {
  font-family: "Barlow";
  font-weight: 700;
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
}
.link, .hero__wrapper__content__link {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #D87D4A;
  padding: 15px 30.5px;
  width: 160px;
  text-decoration: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.link:hover, .hero__wrapper__content__link:hover {
  background-color: #FBAF85;
}

.products__wrapper__list__item__link::after {
  content: url(../img/icons/strelka.svg);
  margin-left: 13px;
}

.link-black, .speaker__wrapper__list__item__contents__linkk {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  background-color: #000;
  padding: 15px 30.5px;
  width: 160px;
  text-decoration: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.link-black:hover, .speaker__wrapper__list__item__contents__linkk:hover {
  background-color: #4C4C4C;
}

.link-grey, .speaker__wrapper__list__item__contents3__linkk3 {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  background-color: #F1F1F1;
  padding: 15px;
  text-align: center;
  width: 160px;
  text-decoration: none;
  border: 1px solid #000;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.link-grey:hover, .speaker__wrapper__list__item__contents3__linkk3:hover {
  background-color: #000;
  color: #FFF;
}

.speaker__wrapper__list__item:nth-child(2) {
  background-image: url(../img/images/Bitmap.png);
  background-repeat: no-repeat;
  background-position: -400px;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  padding: 0 40px;
}

.intro {
  background-color: #0E0E0E;
  width: 100%;
  z-index: 1;
}
.intro__wrapper__nav {
  padding: 35px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.intro__wrapper__nav__phone {
  display: none;
}
.intro__wrapper__nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1px;
  background-color: #FFF;
  mix-blend-mode: normal;
  opacity: 0.2;
}
.intro__wrapper__nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 429px;
}
.intro__wrapper__nav__list__item:not(:last-child) {
  margin-right: 34px;
}
.intro__wrapper__nav__list__item__link {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.intro__wrapper__nav__list__item__link:hover {
  color: #D87D4A;
}

@media only screen and (max-width: 996px) {
  .intro {
    background-color: #0E0E0E;
    width: 100%;
    z-index: 1;
  }
  .intro__wrapper__nav {
    padding: 35px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    z-index: 1;
  }
  .intro__wrapper__nav__phone {
    width: 16px;
    display: block;
    margin-right: 42px;
  }
  .intro__wrapper__nav__phone span {
    display: block;
    width: 16px;
    height: 3px;
    background-color: #FFF;
  }
  .intro__wrapper__nav__phone span:not(:last-child) {
    margin-bottom: 3px;
  }
  .intro__wrapper__nav::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 1px;
    background-color: #FFF;
    mix-blend-mode: normal;
    opacity: 0.2;
  }
  .intro__wrapper__nav__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 429px;
    display: none;
  }
  .intro__wrapper__nav__list__item:not(:last-child) {
    margin-right: 34px;
  }
  .intro__wrapper__nav__list__item__link {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  .intro__wrapper__nav__list__item__link:hover {
    color: #D87D4A;
  }
  .intro__wrapper__nav__shopping {
    margin-left: auto;
  }
}
@media only screen and (max-width: 696px) {
  .intro {
    background-color: #0E0E0E;
    width: 100%;
    z-index: 1;
  }
  .intro__wrapper__nav {
    padding: 35px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
  }
  .intro__wrapper__nav__phone {
    width: 16px;
    display: block;
    margin-right: 42px;
    margin: 0;
  }
  .intro__wrapper__nav__phone span {
    display: block;
    width: 16px;
    height: 3px;
    background-color: #FFF;
  }
  .intro__wrapper__nav__phone span:not(:last-child) {
    margin-bottom: 3px;
  }
  .intro__wrapper__nav::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 1px;
    background-color: #FFF;
    mix-blend-mode: normal;
    opacity: 0.2;
  }
  .intro__wrapper__nav__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 429px;
    display: none;
  }
  .intro__wrapper__nav__list__item:not(:last-child) {
    margin-right: 34px;
  }
  .intro__wrapper__nav__list__item__link {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  .intro__wrapper__nav__list__item__link:hover {
    color: #D87D4A;
  }
  .intro__wrapper__nav__shopping {
    margin: 0;
  }
}
.hero {
  background-color: #0E0E0E;
  padding: 128px 0 30px 0;
}
.hero__wrapper {
  width: 100%;
  display: flex;
}
.hero__wrapper img {
  opacity: 0.8;
}
.hero__wrapper__content {
  max-width: 377px;
  margin-right: 67px;
}
.hero__wrapper__content__product {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #FFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 28px;
}
.hero__wrapper__content__heading {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 24px;
}
.hero__wrapper__content__text {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFF;
  width: 349px;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-bottom: 40px;
}
@media only screen and (max-width: 996px) {
  .hero {
    background-color: #0E0E0E;
    padding: 167px 0 126px 0;
  }
  .hero__wrapper {
    width: 100%;
    display: flex;
    position: relative;
  }
  .hero__wrapper img {
    margin: auto;
    opacity: 0.8;
    position: absolute;
    top: -40%;
    left: 15%;
    right: 25%;
  }
  .hero__wrapper__content {
    max-width: 377px;
    margin-right: 67px;
    margin: auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__wrapper__content__product {
    font-family: "Manrope";
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #FFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 28px;
  }
  .hero__wrapper__content__heading {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 24px;
  }
  .hero__wrapper__content__text {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFF;
    width: 349px;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-bottom: 40px;
    text-align: center;
  }
}
@media only screen and (max-width: 696px) {
  .hero {
    background-color: #0E0E0E;
    padding: 108px 24px 180px 24px;
    background-image: url(../../img/images/bg-naush.png);
    background-repeat: no-repeat;
  }
  .hero__wrapper {
    width: 100%;
    padding: 0;
    display: flex;
    position: relative;
  }
  .hero__wrapper img {
    margin: auto;
    opacity: 0.8;
    position: absolute;
    top: 0%;
    left: 15%;
    right: 25%;
    display: none;
  }
  .hero__wrapper__content {
    max-width: 328px;
    margin-right: 67px;
    margin: auto;
    position: relative;
    z-index: 1;
    display: flex;
    justify-self: start;
  }
  .hero__wrapper__content__product {
    font-family: "Manrope";
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #FFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 16px;
  }
  .hero__wrapper__content__heading {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 24px;
    text-align: center;
    max-width: 328px;
  }
  .hero__wrapper__content__text {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFF;
    width: 349px;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-bottom: 40px;
    text-align: center;
  }
  .hero__wrapper__content__link {
    margin: 0;
    margin: auto;
  }
}
.products {
  padding-top: 200px;
  margin-bottom: 168px;
}
.products__wrapper__list {
  width: 100%;
  list-style-type: none;
  display: grid;
  justify-items: stretch;
  grid-template-columns: 350px 350px 350px;
  z-index: 1;
}
.products__wrapper__list__item {
  background: #F1F1F1;
  border-radius: 8px;
  position: relative;
  padding: 116px 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products__wrapper__list__item:not(:last-child) {
  margin-right: 30px;
}
.products__wrapper__list__item:last-child img {
  top: -30%;
}
.products__wrapper__list__item__heading {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 15px;
}
.products__wrapper__list__item__link {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  opacity: 0.5;
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.products__wrapper__list__item__link:hover {
  color: #FBAF85;
}
.products__wrapper__list__item img {
  position: absolute;
  top: -40%;
  left: 30%;
}

@media only screen and (max-width: 996px) {
  .products {
    padding-top: 200px;
    margin-bottom: 168px;
  }
  .products__wrapper__list {
    width: 100%;
    list-style-type: none;
    display: grid;
    justify-items: stretch;
    justify-content: center;
    grid-template-columns: 223px 223px 223px;
  }
  .products__wrapper__list__item {
    background: #F1F1F1;
    border-radius: 8px;
    position: relative;
    padding: 88px 0 22px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .products__wrapper__list__item img {
    width: 79px;
    height: 104px;
  }
  .products__wrapper__list__item:not(:last-child) {
    margin-right: 30px;
  }
  .products__wrapper__list__item:last-child img {
    top: -30%;
    width: 103px;
    height: 104px;
  }
  .products__wrapper__list__item__heading {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 15px;
  }
  .products__wrapper__list__item__link {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    opacity: 0.5;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  .products__wrapper__list__item__link:hover {
    color: #FBAF85;
  }
  .products__wrapper__list__item img {
    position: absolute;
    top: -40%;
    left: 30%;
  }
}
@media only screen and (max-width: 696px) {
  .products {
    padding-top: 200px;
    margin-bottom: 168px;
  }
  .products__wrapper__list {
    width: 100%;
    list-style-type: none;
    display: grid;
    justify-items: stretch;
    justify-content: center;
    align-items: center;
    grid-template-columns: 327px;
  }
  .products__wrapper__list__item {
    background: #F1F1F1;
    border-radius: 8px;
    position: relative;
    padding: 88px 0 22px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .products__wrapper__list__item img {
    width: 79px;
    height: 104px;
  }
  .products__wrapper__list__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 80px;
  }
  .products__wrapper__list__item:last-child img {
    top: -30%;
    width: 103px;
    height: 104px;
  }
  .products__wrapper__list__item__heading {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 15px;
  }
  .products__wrapper__list__item__link {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    opacity: 0.5;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  .products__wrapper__list__item__link:hover {
    color: #FBAF85;
  }
  .products__wrapper__list__item img {
    position: absolute;
    top: -40%;
    left: 35%;
  }
}
.speaker {
  margin-bottom: 200px;
}
.speaker__wrapper__list {
  list-style-type: none;
  display: grid;
  grid-template-rows: 560px 320px 320px;
  justify-items: stretch;
}
.speaker__wrapper__list__item {
  display: flex;
  justify-content: space-between;
}
.speaker__wrapper__list__item:first-child {
  margin-bottom: 40px;
  background: #D87D4A;
  padding: 52px 95px 0 117px;
  border-radius: 8px;
}
.speaker__wrapper__list__item:nth-child(2) {
  position: relative;
  z-index: 1;
  padding: 101px 0 101px 96px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 48px;
}
.speaker__wrapper__list__item__img {
  position: relative;
  z-index: 0;
}
.speaker__wrapper__list__item__img img {
  position: relative;
  z-index: 1;
  bottom: -0.7%;
}
.speaker__wrapper__list__item__img__oval {
  position: absolute;
  top: -35%;
  left: -45%;
  border-radius: 50%;
  width: 944px;
  height: 944px;
  opacity: 0.5;
  border: 1px solid #FFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.speaker__wrapper__list__item__img__oval:nth-child(2) {
  position: absolute;
  top: 20%;
  left: -15%;
  border-radius: 50%;
  width: 542px;
  height: 542px;
  opacity: 0.5;
  border: 1px solid #FFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.speaker__wrapper__list__item__img__oval:last-child {
  position: absolute;
  top: 30%;
  left: -6%;
  border-radius: 50%;
  width: 472px;
  height: 472px;
  opacity: 0.5;
  border: 1px solid #FFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.speaker__wrapper__list__item__contents {
  max-width: 349px;
  padding-top: 35px;
}
.speaker__wrapper__list__item__contents__heading {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
  width: 261px;
  margin-bottom: 24px;
}
.speaker__wrapper__list__item__contents__desc {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFF;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-bottom: 40px;
}
.speaker__wrapper__list__item__contents__linkk {
  position: relative;
}
.speaker__wrapper__list__item__contents2__heading2 {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  max-width: 245px;
  color: #000;
  margin-bottom: 32px;
}
.speaker__wrapper__list__item__contents2__linkk2 {
  background-color: #F1F1F1;
}
.speaker__wrapper__list__item__contents3 {
  width: 540px;
  background: #F1F1F1;
  border-radius: 8px;
  padding: 101px 0 101px 95px;
}
@media only screen and (max-width: 996px) {
  .speaker {
    margin-bottom: 200px;
  }
  .speaker__wrapper__list {
    list-style-type: none;
    display: grid;
    grid-template-rows: 720px 320px 320px;
    justify-items: stretch;
  }
  .speaker__wrapper__list__item__airpods {
    width: 339px;
    height: 320px;
    margin-right: 11px;
  }
  .speaker__wrapper__list__item:first-child {
    margin-bottom: 40px;
    background: #D87D4A;
    padding: 52px 0px 64px 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .speaker__wrapper__list__item:nth-child(2) {
    position: relative;
    z-index: 1;
    padding: 101px 0 101px 96px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 48px;
  }
  .speaker__wrapper__list__item__img {
    position: relative;
  }
  .speaker__wrapper__list__item__img img {
    position: static;
    width: 197px;
    height: 237px;
  }
  .speaker__wrapper__list__item__img__oval {
    position: absolute;
    top: -150%;
    left: -200%;
    border-radius: 50%;
    width: 944px;
    height: 944px;
    opacity: 0.5;
    border: 1px solid #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .speaker__wrapper__list__item__img__oval:nth-child(2) {
    position: absolute;
    top: -45%;
    left: -100%;
    border-radius: 50%;
    width: 542px;
    height: 542px;
    opacity: 0.5;
    border: 1px solid #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .speaker__wrapper__list__item__img__oval:last-child {
    position: absolute;
    top: -30%;
    left: -85%;
    border-radius: 50%;
    display: flex;
    width: 472px;
    height: 472px;
    opacity: 0.5;
    border: 1px solid #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .speaker__wrapper__list__item__contents {
    max-width: 349px;
    padding-top: 0;
    margin-top: 64px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .speaker__wrapper__list__item__contents__heading {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFF;
    width: 261px;
    margin-bottom: 24px;
  }
  .speaker__wrapper__list__item__contents__desc {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFF;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-bottom: 40px;
  }
  .speaker__wrapper__list__item__contents__linkk {
    position: relative;
  }
  .speaker__wrapper__list__item__contents2__heading2 {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    max-width: 202px;
    color: #000;
    margin-bottom: 32px;
    margin-right: auto;
  }
  .speaker__wrapper__list__item__contents2__linkk2 {
    background-color: #F1F1F1;
  }
  .speaker__wrapper__list__item__contents3 {
    width: 339px;
    background: #F1F1F1;
    border-radius: 8px;
    padding: 101px 0 101px 41px;
  }
}
@media only screen and (max-width: 696px) {
  .speaker {
    margin-bottom: 200px;
  }
  .speaker__wrapper {
    padding: 0;
  }
  .speaker__wrapper__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 350px;
    padding: 0 24px;
    justify-items: stretch;
  }
  .speaker__wrapper__list__item {
    display: grid;
    max-width: 350px;
  }
  .speaker__wrapper__list__item__airpods {
    width: 339px;
    height: 320px;
    margin: 0;
    border: radius 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .speaker__wrapper__list__item:first-child {
    margin-bottom: 40px;
    background: #D87D4A;
    padding: 52px 0px 64px 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
  }
  .speaker__wrapper__list__item:nth-child(2) {
    position: relative;
    z-index: 1;
    padding: 101px 0 101px 24px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 48px;
  }
  .speaker__wrapper__list__item__img {
    position: relative;
  }
  .speaker__wrapper__list__item__img img {
    position: static;
    width: 197px;
    height: 237px;
  }
  .speaker__wrapper__list__item__img__oval {
    position: absolute;
    top: -30%;
    left: -100%;
    border-radius: 50%;
    width: 558px;
    height: 558px;
    opacity: 0.5;
    border: 1px solid #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .speaker__wrapper__list__item__img__oval:nth-child(2) {
    position: absolute;
    top: -15%;
    left: -30%;
    border-radius: 50%;
    width: 320px;
    height: 320px;
    opacity: 0.5;
    border: 1px solid #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .speaker__wrapper__list__item__img__oval:last-child {
    position: absolute;
    top: -6%;
    left: -20%;
    border-radius: 50%;
    display: flex;
    width: 279px;
    height: 279px;
    opacity: 0.5;
    border: 1px solid #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .speaker__wrapper__list__item__contents {
    max-width: 349px;
    padding-top: 0;
    margin-top: 64px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .speaker__wrapper__list__item__contents__heading {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFF;
    width: 261px;
    margin-bottom: 24px;
  }
  .speaker__wrapper__list__item__contents__desc {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFF;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-bottom: 40px;
  }
  .speaker__wrapper__list__item__contents2__heading2 {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    max-width: 245px;
    color: #000;
    margin-bottom: 32px;
    margin-right: auto;
  }
  .speaker__wrapper__list__item__contents2__linkk2 {
    background-color: #F1F1F1;
  }
  .speaker__wrapper__list__item__contents3 {
    margin-top: 24px;
    width: 339px;
    background: #F1F1F1;
    border-radius: 8px;
    padding: 41px 58px 41px 24px;
  }
  .speaker__wrapper__list__item__contents3__heading3 {
    margin: 0;
    margin-bottom: 32px;
  }
}
.audio__wrapper {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.audio__wrapper__contents {
  max-width: 445px;
}
.audio__wrapper__contents__heading {
  margin-bottom: 32px;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #000;
}
.audio__wrapper__contents__heading span {
  color: #D87D4A;
}
.audio__wrapper__contents__heading__desc {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

@media only screen and (max-width: 996px) {
  .audio__wrapper {
    margin-bottom: 96px;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .audio__wrapper img {
    width: 689px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .audio__wrapper__contents {
    max-width: 573px;
    text-align: center;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .audio__wrapper__contents__heading {
    margin-bottom: 32px;
    font-family: "Manrope";
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1.42857px;
    text-transform: uppercase;
    color: #000;
    width: 327px;
    text-align: center;
  }
  .audio__wrapper__contents__heading span {
    color: #D87D4A;
  }
  .audio__wrapper__contents__heading__desc {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000;
    mix-blend-mode: normal;
    opacity: 0.5;
    width: 573;
    display: block;
    text-align: center;
  }
}
.footer {
  background-color: #101010;
}
.footer__wrapper {
  padding: 75px 0 48px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__wrapper__contents {
  max-width: 540px;
}
.footer__wrapper__contents img {
  margin-bottom: 36px;
}
.footer__wrapper__contents__list {
  display: none;
}
.footer__wrapper__contents__desc {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 56px;
}
.footer__wrapper__contents__area {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #FFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.footer__wrapper__links__nav {
  flex-direction: column;
  padding: 0;
}
.footer__wrapper__links__nav::after {
  display: none;
}
.footer__wrapper__links__nav__list {
  display: flex;
}
.footer__wrapper__links__nav__media {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-top: 105px;
  margin-left: auto;
}
.footer__wrapper__links__nav__media__item {
  margin-right: 24px;
}
.footer__wrapper__tablet__links {
  display: none;
}

@media only screen and (max-width: 996px) {
  .footer {
    background-color: #101010;
  }
  .footer__wrapper {
    padding: 60px 40px 46px 39px;
    display: block;
  }
  .footer__wrapper__contents {
    max-width: 880px;
  }
  .footer__wrapper__contents img {
    width: 143px;
    height: 25px;
    margin: 0;
    margin-bottom: 32px;
  }
  .footer__wrapper__contents__list {
    display: flex;
    margin-bottom: 32px;
  }
  .footer__wrapper__contents__desc {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 56px;
  }
  .footer__wrapper__contents__area {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #FFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    display: none;
  }
  .footer__wrapper__links__nav {
    flex-direction: column;
    padding: 0;
  }
  .footer__wrapper__links__nav::after {
    display: none;
  }
  .footer__wrapper__links__nav__list {
    display: none;
  }
  .footer__wrapper__links__nav__media {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-top: 105px;
    margin-left: auto;
    display: none;
  }
  .footer__wrapper__links__nav__media__item {
    margin-right: 24px;
  }
  .footer__wrapper__tablet__links {
    display: flex;
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__wrapper__tablet__links__area {
    display: block;
  }
  .footer__wrapper__tablet__links__media {
    display: flex;
    margin: 0;
  }
}
@media only screen and (max-width: 696px) {
  .footer {
    background-color: #101010;
  }
  .footer__wrapper {
    padding: 60px 40px 46px 39px;
    display: block;
  }
  .footer__wrapper__contents {
    max-width: 880px;
  }
  .footer__wrapper__contents img {
    width: 143px;
    height: 25px;
    margin: 0;
    display: block;
    margin: auto;
    margin-bottom: 48px;
  }
  .footer__wrapper__contents__list {
    display: flex;
    margin-bottom: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__wrapper__contents__list__item {
    margin-bottom: 16px;
  }
  .footer__wrapper__contents__desc {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    max-width: 327px;
    text-align: center;
    margin: auto;
    margin-bottom: 48px;
  }
  .footer__wrapper__contents__area {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #FFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    display: none;
  }
  .footer__wrapper__links__nav {
    flex-direction: column;
    padding: 0;
  }
  .footer__wrapper__links__nav::after {
    display: none;
  }
  .footer__wrapper__links__nav__list {
    display: none;
  }
  .footer__wrapper__links__nav__media {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-top: 105px;
    margin-left: auto;
    display: none;
  }
  .footer__wrapper__links__nav__media__item {
    margin-right: 24px;
  }
  .footer__wrapper__tablet__links {
    display: flex;
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .footer__wrapper__tablet__links__area {
    display: block;
    margin-bottom: 50px;
  }
  .footer__wrapper__tablet__links__media {
    display: flex;
    margin: 0;
  }
  .footer__wrapper .footer__wrapper__contents__list__item {
    margin-right: 0;
  }
}/*# sourceMappingURL=main.css.map */